/* CARROUSEL */
.carousel-inner{
    height: 400px;
}

/* PARA LOS MENUS DE FILTRO */
.menu_itemAzul {
    background-color: #1ab7b7;
    margin: 2em;
    padding: 10px;
    border-radius: 10px;
}

.menu_itemAzul a {
    color: white;
    padding: 5px;
    margin: 5px;
}

.menu_itemBlanco {
    background-color: white;
    margin: 2em;
    padding: 10px;
    border-radius: 10px;
}

.menu_itemBlanco a {
    color: #1ab7b7;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.noWrap {
    flex-wrap: nowrap;
}

/* TITULOS */
.tituloAzul {
    color: #1ab7b7;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Segoe UI", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Arial", "sans-serif";
}

.tituloBlanco {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Segoe UI", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Arial", "sans-serif";
}

.tituloNegro {
    color: black;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Segoe UI", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Arial", "sans-serif";
}

/* PARRAFOS */
.textoBlanco {
    color: white;
    font-size: 20px;
    font-weight: normal;
    font-family: "Segoe UI", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Arial", "sans-serif";
}

.textoNegro {
    color: black;
    font-size: 20px;
    font-weight: normal;
    font-family: "Segoe UI", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Arial", "sans-serif";

}

.textoGris {
    color: #565656;
    font-size: 15px;
    font-weight: normal;
    font-family: "Segoe UI", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Arial", "sans-serif";
}

.textoAzul {
    color: #1ab7b7;
    font-size: 20px;
    font-weight: normal;
    font-family: "Segoe UI", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Arial", "sans-serif";
}

/* PARA ICONOS */
.iconoAzul {
    color: #1ab7b7;
    margin: 5px;
}

.iconoAmarillo {
    color: #ffce00;
    margin: 2px;
}

/* PARA ALINEAR VERTICALMENTE */
.alignItems_flex-start {
    display: flex;
    align-items: flex-start;
}

.alignItems_flex-end {
    display: flex;
    align-items: flex-end;
}

.alignItems_center {
    display: flex;
    align-items: center;
}

/* PARA ALINEAR HORIZONTALMENTE */
.justifyContent_center {
    display: flex;
    justify-content: center;
}

.justifyContent_flex-start {
    display: flex;
    justify-content: flex-start;
}

.justifyContent_flex-end {
    display: flex;
    justify-content: flex-end;
}

.justifyContent_space-between {
    display: flex;
    justify-content: space-between;
}

.justifyContent_space-around {
    display: flex;
    justify-content: space-around;
}

/* FONDOS DE SECCION */
.queHacer {
    background-color: #1ab7b76c;
    max-width: 100%;
}

/*Cards seccion QUÉ HACER en Islandia*/
.cajas{
    background-color: blueviolet;
}

.carta_background{
    background-image: url(../img/ballena.jpg);
    height: 200px;
    width: 100%;
}



/* PARA LA TARJETA DE QUE VER*/
.tarjeta_fondo{
    background-color: #1ab7b76c;
    padding: 17px;
    border-radius: 27px;
}

.imgRedonda {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.imgRedondaUsuario {
    width: 70px;
    height: 70px;
    border-radius: 150px;
}

.tarjeta_puntuacionMedia {
    background-color: white;
    padding: 2px 20px 2px 20px;
    border-radius: 15px;
}

.tarjeta_comentario {
    background-color: white;
    border-radius: 15px;
    padding: 2px;
    margin: 0px 0px 9px 0px;
}