li {
    list-style-type: none;
    display: inline-block;
    margin: 30px;
}

h1{
    color: black;
    text-align: center;
    font-size: 30px;
}

.hacer{
    padding: 20px;
    border-radius: 10px;

}

.flex{
    display: ;
}

.menu_item{

}